Source: ukui-filemetadata
Section: utils
Priority: optional
Maintainer: baijunjie <baijunjie@kylinos.cn>
Build-Depends: debhelper-compat (= 12),
               pkgconf,
               libgsettings-qt-dev,
               qtbase5-dev,
               qt5-qmake,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
               libquazip5-dev(>=0.7.6-6build1),
               libuchardet-dev,
               libpoppler-qt5-dev
Standards-Version: 4.5.0
Homepage: https://www.ukui.org/
#Vcs-Browser: https://salsa.debian.org/debian/ukui-file-meta-data
#Vcs-Git: https://salsa.debian.org/debian/ukui-file-meta-data.git

Package: libukui-filemetadata1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: The file metadata utils of UKUI desktop environment.

Package: libukui-filemetadata-dev
Section: libdevel
Architecture: any
Depends: libukui-filemetadata1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: The file metadata utils of UKUI desktop environment(development files).

Package: libukui-filemetadata-bin
Architecture: any
Depends: libukui-filemetadata1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: library for extracting and writing file metadata
 This package contains the ukui-filemetadata plugins.
