Source: ukui-file-metadata
Section: utils
Priority: optional
Maintainer: zhangpengfei <zhangpengfei@kylinos.cn>
Build-Depends: debhelper-compat (= 12),
               pkgconf,
               qtbase5-dev,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
               libquazip5-dev(>=0.7.6-6build1),
               libuchardet-dev,
               libpoppler-qt5-dev
Standards-Version: 4.5.0
Homepage: https://www.ukui.org/
Vcs-Git:  https://gitee.com/openkylin/ukui-file-meta-data.git
Vcs-Browser: https://gitee.com/openkylin/ukui-file-meta-data

Package: libukui-file-metadata1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: The file metadata utils of UKUI desktop environment.

Package: libukui-file-metadata-dev
Section: libdevel
Architecture: any
Depends: libukui-file-metadata1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: The file metadata utils of UKUI desktop environment(development files).

Package: libukui-file-metadata-bin
Architecture: any
Depends: libukui-file-metadata1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: library for extracting and writing file metadata
 This package contains the ukui-file-metadata plugins.
